<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mapper.CsMapper">


	<!-- 테스트 조회 -->
	<select id="selectCategoryCodeList" resultType="com.vo.Faq" >
		SELECT DISTINCT categoryCode FROM faq 
	</select>
	
	<!--  -->
	<select id="selectCategoryList" resultType="com.vo.Faq" parameterType="int" >
		SELECT * FROM faq WHERE categoryCode = #{value}
	</select>
	
</mapper>
