<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.LoginMapper">


	<select id="selectLogin" resultType="string" parameterType="String">
		SELECT name FROM testData WHERE id= #{no}
	</select>
	
	<select id="selectTableNumbering" resultType="int">
		select COUNT(id)  from member
	</select>
	
	<insert id="insertJoinMember" parameterType="com.dao.MemberDao"> 
        INSERT INTO member (id, nm, userId, addr1, addr2, pno, regDt, regId, updateDt, updateId) VALUES (#{id}, #{nm}, #{userId}, #{addr1}, #{addr2}, #{pno}, now(), 99999, now(), 99999) 
    </insert>
	
</mapper>