<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.MyPageMapper">

	<!-- insert -->
	
	<!-- Read -->
	<select id="selectMymemberData" resultType="com.vo.Member" parameterType="int">
		SELECT nm, userId, addr1, addr2, zonecode, pno FROM member WHERE id = #{value}
	</select>
	
	<!-- Update -->
	<update id="updateMemeberPno" parameterType="com.dao.MemberDao">
		UPDATE member
		SET pno = #{pno}
		WHERE id = #{id}
	</update>
	
	<update id="updateMemeberAddr" parameterType="com.dao.MemberDao">
		UPDATE member
		SET addr1 = #{addr1}, addr2 = #{addr2}
		WHERE id = #{id}
	</update>

</mapper>